:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  font-size: 16px;
}

/*NAVBAR*/

.menu-bar-pc{
  width: 100%;
  min-height: 68px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
  padding: 0 36px;
  background: rgba(229, 102, 0, 1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}

.menu-principal a, .top-redes button{
  display: inline-block;
  padding: 0 10px;
  color: black;
  text-decoration: none;
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1.5em;
  transition: all .3s ease;
}

.menu-principal a:hover, .top-redes button:hover{
  color: #fff;
}

.fixed-header{
  width: 100%;
  min-height: 68px;
  padding: 0 36px;
  background: rgba(229, 102, 0, 1);
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all .4s ease;
  margin-top: -68px;
}

.fixed-header .menu-principal a, .fixed-header .top-redes button{
  color: black;
}

.fixed-header .menu-principal a:hover, .top-redes button:hover{
  color: #fff;
}


/*MENU MOBILE*/
.menu-mobile{
  display: none;
}


/*GO TO TOP*/
.btn-volver-arriba{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 30%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99999;
  margin-right: -60px;
  transition: all .4s ease;
}

.btn-volver-arriba a{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30%;
  text-align: center;
}

.btn-volver-arriba a i{
  font-size: 1rem;
  color: #fff;
  line-height: 40px;
}


/*ABOUT ME*/

.aboutMe{
  border: 10px solid rgba(229, 102, 0, 1);
  border-style: double;
}
.card-text{
  font-size: 1.125rem;
}
.bigger {
  margin: 0;
  font-size: 3.75rem;
  font-weight: 800;
  padding: 20px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.has-animation {
  position: relative;
}
.has-animation p, .has-animation img {
  opacity: 0;
}
.has-animation.animate-in p, .has-animation.animate-in img {
  animation: textHidden 0.1s 1.1s forwards;
}
.has-animation.animate-in:before, .has-animation.animate-in:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}
.has-animation.animate-in:before {
  background-color: rgba(229, 102, 0, 1);
}
.has-animation.animate-in:after {
  background-color: #202020;
  animation-delay: 0.5s;
}
.has-animation.animation-ltr.animate-in:before {
  animation: revealLTR 1.8s ease;
}
.has-animation.animation-ltr.animate-in:after {
  animation: revealLTR 1s 0.6s ease;
}
.has-animation.animation-rtl.animate-in:before {
  animation: revealRTL 1.8s ease;
}
.has-animation.animation-rtl.animate-in:after {
  animation: revealRTL 1s 0.6s ease;
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }
  65% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}
@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }
  65% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes textHidden {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/*SKILLS*/


.swiper {
       width: 50%;
       height: 50%;
       border: 10px solid rgba(229, 102, 0, 1);
       border-style: double;
       box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
     }

     .swiper-slide {
       width: 20%;
     }

     .swiper-slide img {
       display: block;
       max-width: 130px;
       object-fit: cover;
     }

     .swiper-wrapper {
    transition-timing-function: linear;
}




/*PROJECTS*/

.hero-section{
  background-color: rgba(229, 102, 0, 1);
  min-height: 100%;
  padding: var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr);
  }
}

.cardP{
  list-style: none;
  position: relative;
  border: 3px solid white;
}

.cardP:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  bottom: 0;
  filter: brightness(0.45) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.cardP:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .cardP:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/*CONTACT*/

.contactl{
  max-width: 250px;
  width: 200px;
}

.contactl:hover{
  width: 230px;
}

.gmail{
  width: 100px;
}

.git{
  width: 100px;
}

.gmail:hover{
  width: 130px;
}

.git:hover{
  width: 130px;
}

.logo-container{
  width: 230px;
  height: 230px;
  border: 10px solid rgba(229, 102, 0, 1);
  border-style: double;
  border-radius: 5px;
  box-shadow: 0px 9px 32px -1px rgba(0, 0, 0, 0.5);
}

  /* MEDIA QUERIES */
@media screen and (max-width: 1400px){
  .swiper {
         width: 70%;
         height: 70%;
       }

       .swiper-slide {
         width: 25%;
       }

       .swiper-slide img {
         max-width: 130px;
       }
}

@media screen and (max-width: 900px){
  /* Ecabezado */
  .menu-bar-pc{
    display: none;
  }
  .menu-mobile{
    display: block;
    width: 100%;
    padding: 5px 18px;
    background: rgba(229, 102, 0, 1);
    color: #444444;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  .menu-mobile .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-mobile .barra a i{
    font-size: 1.4rem;
    color: #fff;
  }

  .menu-mobile .menu-principal{
    width: 80%;
    display: block;
    position: fixed;
    top: 56px;
    left: -100%;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    border-right: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.2);
    background: #fff;
    text-align: center;
  }

  .menu-mobile .menu-principal a{
    display: block;
    padding: 10px;
    color: #444444;
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  }

  .menu-mobile .menu-principal a:hover{
    background: #f7f7f7;
  }
  .fixed-header{
    display: none;
  }


  .swiper {
         width: 100%;
         height: 100%;
       }

       .swiper-slide {
         width: 40%;
       }

       .swiper-slide img {
         max-width: 130px;
       }
}
